*{
  font-family: monospace;
  color: #04030F;
}
body{
  background: #C5C3DA;
}
nav{
  border-bottom: 5px solid #04030F;
}
nav img{
  position: relative;
  border: 5px solid #A4508B;
  width: 100px;
  left: 40px;
}
nav h2{
  margin-left: 10px;
}
nav ul{
  font-size: 20px;
  border: 8px solid #035E7B;
  padding: 0px 200px;
  float: right;
}
nav span{
  font-size: 20px;
  padding: 0px 567px 0px 0px;
  float: right;
  clear: right;
}
a{
  text-decoration: none;
  color:#A4508B;
}
a:hover{
  text-decoration: underline;
}
a:active{
  color:#04030F;
}
section.info1{
  margin: 10px 22%;
  width: 50%;
}
section.info2{
  margin: 80px 22%;
  text-align: right;
  width: 50%;
}
section.info1 header{
  text-shadow: 2px 2px #A4508B;
  text-decoration: bold;
  font-size: 60px;
  width: 1000px;
  text-align: left;
}
section.info2 header{
  text-shadow: 2px 2px #035E7B;
  text-decoration: bold;
  font-size: 60px;
  width: 900px;
}
section.info1 img{
  width: 150px;
  float: right;
}
section.info2 img{
  width: 200px;
  float: left;
}
section.info1 p, section.info2 p{
  font-family: arial;
  font-size: 30px;
  text-align: justify;
  text-justify: inter-word;
}
section.video{
  text-align: center;
}
section.video header{
  text-shadow: 2px 2px #A4508B;
  text-decoration: bold;
  font-size: 60px;
}
video{
  border: 3px solid #04030F;
  box-shadow: 3px 3px #035E7B;
  margin-bottom: 10px;
}
.facebook{
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-left: 25%;
  background: url('../images/facebook_color.png') no-repeat;
}
.facebook:hover {
  background: url('../images/facebook_gray.png') no-repeat;
}
.twitter{
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-left: 25%;
  background: url('../images/twitter_color.png') no-repeat;
}
.twitter:hover {
  background: url('../images/twitter_gray.png') no-repeat;
}
.gmail{
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-left: 25%;
  background: url('../images/gmail_color.png') no-repeat;
}
.gmail:hover {
  background: url('../images/gmail_gray.png') no-repeat;
}
footer{
  border: 8px dotted #035E7B;
}
footer h1{
  padding-left: 10px;
}
footer li{
  font-family: arial;
  font-size: 20px;
}
