*{
  font-family: monospace;
  color: #04030F;
}
body{
  background: #C5C3DA;
}
nav{
  border-bottom: 5px solid #04030F;
}
nav img{
  position: relative;
  border: 5px solid #A4508B;
  width: 100px;
  left: 40px;
}
nav h2{
  margin-left: 10px;
}
nav ul{
  font-size: 20px;
  border: 8px solid #035E7B;
  padding: 0px 200px;
  float: right;
}
nav span{
  font-size: 20px;
  padding: 0px 567px 0px 0px;
  float: right;
  clear: right;
}
a{
  text-decoration: none;
  color:#A4508B;
}
a:hover{
  text-decoration: underline;
}
a:active{
  color:#04030F;
}
section.intro{
  width: 100%;
  text-align: center;
}
section.intro header{
  text-shadow: 2px 2px #A4508B;
  text-decoration: bold;
  font-size: 60px;
}
section.intro p{
  font-family: arial;
  font-size: 30px;
}
.category{
  background: #BBBAC6;
  border: 5px solid #035E7B;
  box-shadow: 2px 2px #A4508B;
  width: 18%;
  font-size: 50px;
  text-align: center;
  line-height: 80px;
  float: left;
  overflow: auto;
}
.specifics{
  background: #BBBAC6;
  border: 5px solid #035E7B;
  box-shadow: 2px 2px #A4508B;
  width: 78%;
  font-size: 20px;
  float: right;
}
.specifics p{
  margin-left: 20px;
  margin-right: 20px;
}
.facebook{
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-left: 25%;
  background: url('../images/facebook_color.png') no-repeat;
}
.facebook:hover {
  background: url('../images/facebook_gray.png') no-repeat;
}
.twitter{
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-left: 25%;
  background: url('../images/twitter_color.png') no-repeat;
}
.twitter:hover {
  background: url('../images/twitter_gray.png') no-repeat;
}
.gmail{
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-left: 25%;
  background: url('../images/gmail_color.png') no-repeat;
}
.gmail:hover {
  background: url('../images/gmail_gray.png') no-repeat;
}
footer{
  margin-top: 40%;
  border: 8px dotted rgb(150, 149, 158);
}
footer h1{
  padding-left: 10px;
}
footer li{
  font-family: arial;
  font-size: 20px;
}
