*{
  font-family: monospace;
  color: #04030F;
}
body{
  background: #C5C3DA;
}
nav{
  border-bottom: 5px solid #04030F;
}
nav img{
  position: relative;
  border: 5px solid #A4508B;
  width: 100px;
  left: 40px;
}
nav h2{
  margin-left: 10px;
}
nav ul{
  font-size: 20px;
  border: 8px solid #035E7B;
  padding: 0px 200px;
  float: right;
}
nav span{
  font-size: 20px;
  padding: 0px 567px 0px 0px;
  float: right;
  clear: right;
}
a{
  text-decoration: none;
  color:#A4508B;
}
a:hover{
  text-decoration: underline;
}
a:active{
  color:#04030F;
}
section.info{
  width: 100%;
  text-align: center;
}
section.info header{
  text-shadow: 2px 2px #A4508B;
  text-decoration: bold;
  font-size: 60px;
}
section.info p{
  font-family: arial;
  font-size: 30px;
}
.pyramid{
  position: relative;
  height: 420px;
  clip-path: polygon(50% 0, 10% 100%, 90% 100%);
}
.pyramid div{
  position: absolute;
  background: #04030F;
  font-family: arial;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  color: #04030F;
  line-height: 100px;
  text-align: center;
  text-decoration: bold;
  box-shadow: 4px 4px rgb(99, 23, 76);
  transition: all ease 0.8s;
}
.pyramid:hover div{
  color: #BBBAC6;
}
.layer_1{
  z-index: 1;
  font-size: 0.9em;
  word-wrap: inherit;
}
.pyramid:hover .layer_2{
  top: 110px;
  font-size: 1.2em;
  background: #A4508B;
}
.pyramid:hover .layer_3{
  top: 220px;
  font-size: 1.5em;
  background: #035E7B;
}
.facebook{
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-left: 25%;
  background: url('../images/facebook_color.png') no-repeat;
}
.facebook:hover {
  background: url('../images/facebook_gray.png') no-repeat;
}
.twitter{
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-left: 25%;
  background: url('../images/twitter_color.png') no-repeat;
}
.twitter:hover {
  background: url('../images/twitter_gray.png') no-repeat;
}
.gmail{
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-left: 25%;
  background: url('../images/gmail_color.png') no-repeat;
}
.gmail:hover {
  background: url('../images/gmail_gray.png') no-repeat;
}
footer{
  border: 8px dotted #A4508B;
}
footer h1{
  padding-left: 10px;
}
footer li{
  font-family: arial;
  font-size: 20px;
}
